@import url('https://fonts.googleapis.com/css?family=Bad+Script&display=swap');
.header_location {text-align: right;
 padding-right: 24%}
.address_cursive {font-style: italic}
.h1_font_size {font-size: 13pt}
.appeal_location {padding-left: 25%;
    text-decoration: underline}
.art_foot_location {padding-left: 23%;
    padding-right: 24%}
.art_indent {text-indent: 5mm}
.font {font-family: Bad Script, cursive}
